#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* DIVS */

#appFrame {
  border: 1px solid black;
  display: flex;
  width: 800px;
  height: 500px;
}

#friendSideBar {
  border-right: 1px solid black;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#friendSideBar button {
  margin-bottom: 10px;
  border: 1px solid black;
}

#chatLogFrame {
  flex: 3;
  display: flex;
  flex-direction: column;
}

#chatLog {
  padding: 15px;
  flex: 1;
}

#messageFrame {
  height: 80px;
  display: flex;
  border-top: 1px solid black;
}

/* INPUT & BTN */

#messageInput {
  padding-left: 15px;
  font-size: 20px;
  flex: 5;
}

#messageSendBtn {
  flex: 2;
}